.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./assets/blabla.jpg'); /* Chemin relatif à partir de src */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5; /* Couleur pastel douce comme fallback */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333; /* Couleur de texte douce */
}

/* Style général du cadre */
.box {
  border: 1px solid #d0d0d0; /* Bordure douce */
  border-radius: 8px; /* Coins arrondis */
  padding: 20px; /* Espacement interne */
  background-color: #ffffff; /* Couleur de fond blanche pour le cadre */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 500px; /* Largeur maximale du cadre */
  margin: 20px auto; /* Centre horizontalement avec marge */
}

/* Ajoutez du style pour le formulaire */
form {
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  margin-right: 10px;
}

input {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #d0d0d0; /* Bordure douce */
  border-radius: 4px; /* Coins arrondis */
}

button {
  padding: 10px 20px; /* Augmente l'espace autour du texte */
  font-size: 1em;
  background-color: #a0d8ef; /* Bleu pastel */
  color: white;
  border: none;
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Ajoute une transition pour le survol */
}

button:hover {
  background-color: #8ab9d2; /* Couleur de survol légèrement plus foncée */
}

/* Style pour les informations météorologiques */
.weather-info {
  text-align: left;
  margin-top: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #6b9ac4; /* Bleu pastel */
}

p {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #888; /* Gris pastel */
}

img.weather-icon {
  max-width: 50px;
  max-height: 50px;
}

/* Style pour les messages d'erreur */
.error-message {
  color: #f4a1a1; /* Rose pastel */
  font-size: 1.2em;
  margin-top: 10px;
}
